@model List<User>
<div class="container-fluid">
    <table id="tbl1" class="table  table-bordered table-hover" style="margin-top:20px">
        <thead>
            <tr>
                <th><h6>UserID</h6></th>
                <th><h6>User Name</h6></th>
                <th><h6>Role</h6></th>
                <th><h6>Update</h6></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-6"><h6>@item.UserID</h6></td>
                <td class="col-sm-3"><h6>@item.UserName</h6></td>
                <td class="col-sm-3"><h6>@item.Role</h6></td>
                <td><a style="width:100%" href="/Admin/User/Update/@item.UserID" class="btn btn-warning">Update</a></td>
            </tr>
        }
    </table>
</div>
<script src="/Traversal-Starter/assets/js/theme-change.js"></script>
<script src="/Traversal-Starter/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Traversal-Starter/assets/css/style-starter.css">