@model User
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid ">
    <style>
    </style>
    <form class="form-group " method="post">
        <input type="hidden" asp-for="UserID" />
        <label>@Model.UserName</label>
        <br />
        <label>Password</label>
        <br />
        <input asp-for="Password" type="text" class="form-control col-4" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <button type="submit" class=" btn  btn-success">Update</button>
        <a style="margin-left:1%" href="/Admin/User/Index" class="btn btn-info">BACK</a>
    </form>
</div>


<script src="/Traversal-Starter/assets/js/theme-change.js"></script>
<script src="/Traversal-Starter/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Traversal-Starter/assets/css/style-starter.css">