@model InfoContentVM


<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container-fluid ">
    <style>

        select {
            text-transform: capitalize
        }

        h3 {
            color: red
        }
    </style>


    <form class="form-group " method="post">

        <input type="hidden" />
        <label>Header</label>
        <br />
        <input asp-for="Information.Header" type="text" class="form-control col-4" />
        <br />
        <label>Body</label>
        <br />
        <textarea asp-for="Information.Body" class="form-control col-4"></textarea>

        <br />
        <select class="form-control col-2">
            @foreach (var item in Model.Contents)
            {
                <option value="@item.ContentID">@item.ContentName</option>
            }
            

        </select>
        <br />

        <button class="  btn  btn-success">ADD</button>


        <a style="margin-left:1%" href="/Visitor/Index" class="btn btn-info">BACK</a>
    </form>
</div>