@model InfoContentVM

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container-fluid ">
    <style>

        select {
            text-transform: capitalize
        }

        h3 {
            color: red
        }
    </style>


    <form  class="form-group " method="post">
        <input type="hidden" asp-for="InformationID" />
        <label>Header</label>
        <br />
        <input  asp-for="Header" type="text" class="form-control col-4" />
        <br />
        <label>Body</label>
        <br />
        <textarea  asp-for="Body" rows="10" class="form-control col-8"></textarea>
        <br />
        <select asp-for="@Model.ContentID" class="form-control col-2">
            @foreach (var item in Model.Contents)
            {
                <option  value="@item.ContentID"  >@item.ContentName</option>
            }
        </select>
        <br />
        <select asp-for="IsValid" class="form-control col-2">
            <option value="false">Reject</option>
            <option value="true">Accept</option>
        </select>
        <br />
        <button type="submit" class=" btn  btn-success">Update</button>
        <a style="margin-left:1%" href="/Admin/Dashboard/Index" class="btn btn-info">BACK</a>
    </form>
</div>